

/**************** Toolbar *********************/
#toolbar{
    height:2em;
}

#edit{
    float:right;
}
#edit form{
    float:right;
    margin-right:2px;
}
#edit form input[type="submit"]{
    width: 4em;
    height: 2em;
}

/**************** Container *********************/
#container {
    margin:1px auto 5px;
    padding: 10px 10px 40px;
    max-width:1080px;
    min-width:100px;
    background-color:#153A8E;
    font-family:arial;
}

.item {
    position:relative;
    background-color:white;
    padding:10px 10px 4px;
}

/**************** Fields *********************/
.fields{
    padding-left:0;
    margin:0.5em 0;
}
.field_group h2 {
    font-size:24px;
    font-family:Georgia,Serif;
    font-variant: small-caps;
    color: darkred;
    text-align:center;

    border-top: solid darkred medium;
    border-bottom: dotted darkred thin;
}
.field_group > ul{
    padding-left:1.5em;
}
.field_block{
    margin: 4px 0;
    list-style-type: none;
}

/* Property Set (dotpoint list) */
.dotpoint_property_set {
    margin-bottom: 12px;
}

/* Association Bubbles */
.association_set {
    border: 2px solid purple;
    padding: 4px 10px;
    margin: 15px 0;
}
/* compact association set */
.compact_association_set > ul{
    padding-left:1.5em;
}
.compact_association_set .role{
    list-style-type: none;
}

/* association table */
.association_set_table table{
    margin:0px 15px;
    background: white;
    border-collapse: collapse;
    text-align: left;
}
.association_set_table th{
    border-bottom: 2px solid lightblue;
    padding: 4px 24px;
}
.association_set_table td{
    border-bottom: 1px solid lightblue;
    padding: 4px 24px;
}

