

/**************** Toolbar *********************/
#toolbar{
    height:2em;
}

#edit{
    float:right;
}
#edit form{
    float:right;
    margin-right:2px;
}
#edit form input[type="submit"]{
    width: 4em;
    height: 2em;
}

/**************** Container *********************/
#container {
    margin:1px auto 5px;
    padding: 10px 10px 40px;
    max-width:1080px;
    min-width:100px;
    background-color:#153A8E;
    font-family:arial;
}

.item {
    position:relative;
    background-color:white;
    padding:10px 10px 4px;
}

/**************** Properties *********************/
.properties{
    padding-left:0;
    margin:0.5em 0;
}
.property_set h2 {
    font-size:24px;
    font-family:Georgia,Serif;
    font-variant: small-caps;
    color: darkred;
    text-align:center;

    border-top: solid darkred medium;
    border-bottom: dotted darkred thin;
}
.property_set > ul{
    padding-left:1.5em;
}
.property{
    margin: 4px 0;
    list-style-type: none;
}

/* Mulitprop dotpoint list */
.multi_prop_dotpoint {
    margin-bottom: 12px;
}

/* Association Bubbles */
.nary_association, .association{
    border: 2px solid purple;
    padding: 4px 10px;
    margin: 15px 0;
}
.association > ul{
    padding-left:1.5em;
}
.association .role{
    list-style-type: none;
}

/* Nary association table */
.nary_association table{
    margin:0px 15px;
    background: white;
    border-collapse: collapse;
    text-align: left;
}
.nary_association th{
    border-bottom: 2px solid lightblue;
    padding: 4px 24px;
}
.nary_association td{
    border-bottom: 1px solid lightblue;
    padding: 4px 24px;
}

