
table {
	border-collapse:collapse;
	text-align: left;
	margin-bottom: 20px;
}
table, tr, td, th {
    border: 1px solid;
}
#prefix_header {
	width: 80px;
}

.prefix_block {
    float: left;
    width: 50%;
}
.button_block {
    float: right;
    width: 50%;
}
.console {
    clear: left;
}
